<div class="row">

  <div class="col-md-4">
    <label for="new-registration-number">Escriba la matrícula del
      estudiante</label>
  </div>
  <div class="col-md-6">
    <input type="number" id="new-registration-number" required>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="new-name">Escriba el nombre del
      estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="new-name" required></div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="new-first-last-name">Escriba el apellido paterno del
      estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="new-first-last-name" required>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="new-second-last-name">Escriba el apellido materno del
      estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="new-second-last-name" required>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="new-age">Escriba la edad del estudiante</label>
  </div>
  <div class="col-md-6"><input type="number" id="new-age" required></div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="new-street">Escriba la calle del estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="new-street"
                               required></div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="new-crossings">Escriba los cruzamientos del
      estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="new-crossings" required></div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="new-number">Escriba el número del estudiante</label>
  </div>
  <div class="col-md-6"><input type="number" id="new-number" required></div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="new-suburb">Escriba el fraccionamiento del
      estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="new-suburb" required></div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="new-postal-code">Escriba el código postal del
      estudiante</label></div>
  <div class="col-md-6"><input type="text" id="new-postal-code" required>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="new-latitude">Escriba la latitud del estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="new-latitude" required>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="new-altitude">Escriba la altitud del estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="new-altitude" required>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="new-password">Escriba la contraseña del
      estudiante</label>
  </div>
  <div class="col-md-6"><input type="password" id="new-password" required>
  </div>
</div>