<div class="row">

  <div class="col-md-4">
    <label for="update-registration-number">Escriba la matrícula del
      estudiante</label>
  </div>
  <div class="col-md-6">
    <input type="number" id="update-registration-number" required>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="update-name">Escriba el nombre del
      estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="update-name" required></div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="update-first-last-name">Escriba el apellido paterno del
      estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="update-first-last-name" required>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="update-second-last-name">Escriba el apellido materno del
      estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="update-second-last-name" required>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="update-age">Escriba la edad del estudiante</label>
  </div>
  <div class="col-md-6"><input type="number" id="update-age" required></div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="update-street">Escriba la calle del estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="update-street"
                               required></div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="update-crossings">Escriba los cruzamientos del
      estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="update-crossings" required></div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="update-number">Escriba el número del estudiante</label>
  </div>
  <div class="col-md-6"><input type="number" id="update-number" required></div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="update-suburb">Escriba el fraccionamiento del
      estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="update-suburb" required></div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="update-postal-code">Escriba el código postal del
      estudiante</label></div>
  <div class="col-md-6"><input type="text" id="update-postal-code" required>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="update-latitude">Escriba la latitud del estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="update-latitude" required>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="update-altitude">Escriba la altitud del estudiante</label>
  </div>
  <div class="col-md-6"><input type="text" id="update-altitude" required>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="update-password">Escriba la contraseña del
      estudiante</label>
  </div>
  <div class="col-md-6"><input type="password" id="update-password" required>
  </div>
</div>